{{!< default}}

<header>
    <link rel="stylesheet" href="{{asset "bower_components/DataTables/media/css/jquery.dataTables.min.css"}}">
    <link rel="stylesheet" href="{{asset "bower_components/datatables-responsive/css/dataTables.responsive.css"}}">
</header>
    {{! The main content area on the homepage }}
<main class="content tag-content" role="main">
    <div id="homeContent">
    <table id="indexTable" class="display responsive" width="100%">
        <thead>
            <tr>
                <th class="tableNameHeader tdCenter">Theme Name</th>
                <th class="tableDemoHeader tdCenter">Demo</th>
                <th class="tablePriceHeader tdCenter min-tablet-l">Price</th>
                <th class="tableDescHeader tdCenter min-tablet-l">Description</th>
                <th class="tableColumnHeader tdCenter min-tablet-l">Columns</th>
            </tr>
        </thead>
        <tbody>
        </tbody>
    </table>
    </div>

    <script type="text/javascript" src="{{asset "bower_components/DataTables/media/js/jquery.dataTables.min.js"}}"></script>
    <script type="text/javascript" src="{{asset "bower_components/datatables-responsive/js/dataTables.responsive.js"}}"></script>
    <script type="text/javascript" src="{{asset "js/datatables-initialize.js"}}"></script>
    <script>
    $(document).ready(function() {
        var tagName = window.location.pathname.split("/", 3);
        tagName = String(tagName[2]);
        datatableInitialize(tagName);
    });
    </script>
</main>
